<header class="header">
  <div class="header-bar container">
    <a class="header-bar__logo">
      <span class="icon-cisco"></span>
    </a>
    <div class="header-bar__main">
      <div class="header-heading">
        <h1 class="page-title">Supplier Contract Data Extraction</h1>
      </div>
    </div>
    <div class="header-toolbar">
      
      <button class="btn btn--small btn--icon">
        <span class="icon-search"></span>
      </button>
      <a class="avatar mLeft15" >Ramu Tubati</a>
      <a href="#" >[ Logout ]</a>
    </div>
  </div>
</header>