<header class="header header--compressed">
  <div class="header-bar container">
      <a class="header-bar__logo">
          <span class="icon-cisco"></span>
      </a>
      <div class="header-bar__main">
          <div class="header-heading">
              <h1 class="page-title">Supplier Contract Data Extraction</h1>
          </div>
      </div>
      <div class="header-toolbar" *ngIf="login">
        <span class="avatar mLeft15">
          <img class="thumb thumb--small" src="http://wwwin.cisco.com/dir/photo/zoom/{{userid}}.jpg">
        </span>
        <a class="avatar mLeft15">{{firstname}} {{lastname}}</a>
        <a href="#/login">[ Logout ]</a>
      </div>
  </div>
</header>
