<div class="content-fluid">
  <main>
    <app-header></app-header>
    <div class="content">
      <div class="container">
        <!-- <app-steps [steps]="steps"></app-steps> -->
        <div class="row mTop10">
          <div class="col-md-12 col-lg-12">
            <div class="secondary-tabs ">
              <ul class="tabs st">
                <li id="tab-dashboard" class="tab active">
                  <a routerLink="/home">
                    <div class="tab__heading text-large" title="Home">Update & Process</div>
                  </a>
                </li>
                <li id="tab-review" class="tab ">
                  <a routerLink="/summary">
                    <div class="tab__heading text-large" title="Performance">Summary</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </main>
</div>
