<div class="row">
    <div class="col-md-5">
        <h5 class="pt8pc">Summary</h5>
    </div>
    <div class="col-md-7">
        <div class="purgebutton">
            <button class="btn btn-pbStyle">
                <span class="icon-trash icon-medium"></span> PURGE</button>
            <br>
            <span class="icon-info icon-tiny info-color"></span>
            <span> Files older than 30 days</span>
        </div>
    </div>
</div>
<div class="mTop15">
    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all ui-tabs-vertical">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
            <li id="tab-1" class="ui-state-default ui-corner-top ui-tabs-active ui-state-active vtabs vactive" role="tab" tabindex="0"
                aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true">
                <a class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox6">
                        <span class="checkbox__input"></span>
                        <span class="checkbox__label">Contract 1</span>
                    </label>
                </a>
            </li>
            <li id="tab-2" class="ui-state-default ui-corner-top vtabs" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-2"
                aria-selected="false" aria-expanded="false">
                <a class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">

                    <label class="checkbox">
                        <input type="checkbox" name="checkbox6">
                        <span class="checkbox__input"></span>
                        <span class="checkbox__label">Contract 2</span>
                    </label>

                </a>
            </li>
            <li id="tab-3" class="ui-state-default ui-corner-top vtabs" role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-3"
                aria-selected="false" aria-expanded="false">
                <a class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">

                    <label class="checkbox">
                        <input type="checkbox" name="checkbox6">
                        <span class="checkbox__input"></span>
                        <span class="checkbox__label">Contract A</span>
                    </label>

                </a>
            </li>
            <li id="tab-4" class="ui-state-default ui-corner-top vtabs" role="tab" tabindex="-1" aria-controls="tabs-4" aria-labelledby="ui-id-3"
                aria-selected="false" aria-expanded="false">
                <a class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox6">
                        <span class="checkbox__input"></span>
                        <span class="checkbox__label">Contract B</span>
                    </label>
                </a>
            </li>
        </ul>
        <div id="tab-1-vcontent" aria-labelledby="ui-id-1" class=" ui-tabs-panel ui-widget-content ui-corner-bottom vtab-pane vactive"
            role="tabpanel" aria-hidden="false">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right legends">
                        <div class="blueLegend mR20"></div>
                        <div class="greenLegend"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="vsContent">
                        <ul class="list list--compressed">
                            <li>
                                <div class="panel ">
                                    <h5>Contract Summary</h5>
                                    <p class="paleBlue">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis
                                        est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem.
                                        Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent
                                        mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam
                                        eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.
                                        Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.
                                        Morbi imperdiet augue quis tellus.</p>
                                </div>
                            </li>
                            <li>
                                <div class="panel">
                                    <h5>Discount Summary</h5>
                                    <p class="paleGreen">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis
                                        est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem.
                                        Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent
                                        mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam
                                        eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.
                                        Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.
                                        Morbi imperdiet augue quis tellus.</p>
                                </div>
                            </li>
                            <li>
                                <div class="panel ">
                                    <h5>Contract Summary</h5>
                                    <p class="paleBlue">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis
                                        est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem.
                                        Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent
                                        mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam
                                        eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.
                                        Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.
                                        Morbi imperdiet augue quis tellus.</p>
                                </div>
                            </li>
                            <li>
                                <div class="panel">
                                    <h5>Discount Summary</h5>
                                    <p class="paleGreen">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis
                                        est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem.
                                        Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent
                                        mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam
                                        eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.
                                        Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.
                                        Morbi imperdiet augue quis tellus.</p>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div id="tab-2-vcontent" aria-labelledby="ui-id-2" class=" ui-tabs-panel ui-widget-content ui-corner-bottom vtab-pane" role="tabpanel"
            aria-hidden="true">Performance Report 2</div>
        <div id="tab-3-vcontent" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom vtab-pane" role="tabpanel"
            aria-hidden="true">Performance Report 3</div>
        <div id="tab-4-vcontent" aria-labelledby="ui-id-4" class=" ui-tabs-panel ui-widget-content ui-corner-bottom vtab-pane" role="tabpanel"
            aria-hidden="true">Performance Report 4</div>
    </div>
</div>